streamlit==1.22.0
python-dotenv==1.0.0
langchain
langchain-community
langchain-experimental
langchain-google-genai
google-generativeai
faiss-cpu
pymysql
mysql-connector-python
sentence-transformers
tiktoken
protobuf==3.20.3